body {
	font-family: sans-serif;
	margin: 1em 4em;
	<!-- background: #CfCfCf; -->
}
h1 {
	margin: 1em 0;
}

h2 a {
	text-decoration: none;
	color: #000;
}
audio {
	display: none;
}

.bar, .progress {
	height: 1em !important;
}

.item:hover {
	cursor: hand;
}

.label {
	color: #fff;
	text-decoration: none;
}

.ui.label.cat {
	margin-top: 5px;
}

.label {
	margin-top: 1em;
}

.sub.header a {
	color: #ccc;
	text-decoration: none;
	font-weight: normal;
}
.header a:hover {
	border-bottom: 1px solid #6ECFF5;
}

#cp-title {
	margin: 0;
}

.no-animate {
	-webkit-transition: none !important;
 	-moz-transition: none !important;
 	-ms-transition: none !important;
 	-o-transition: none !important;
 	transition: none !important;
}

#progress-bar-container:hover {
	cursor: hand; <!-- TODO: only if playing? -->
}

#cp-more ul {
	list-style-type: none;
}
