body {
	font-family: "Helvetica Neue","Helvetica","Nimbus Sans L","Arial","Liberation Sans",sans-serif;
	margin: 1em 4em;
	line-height: 1.2em;
	font-size: 100%;
}
h1 {
	margin: 1em 0;
}

h2 a {
	text-decoration: none;
	color: #000;
}
h2 a:hover {
	text-decoration: none;
}

audio {
	display: none;
}

a {
	color: #002bb8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #002bb8;
}

.bar, .progress {
	height: 0.5em !important;
}

.item:hover {
	cursor: hand;
}

.label {
	color: #fff;
	text-decoration: none;
}
.ui.label {
	text-transform: none;
}

.ui.label.cat {
	margin-top: 5px;
}

.ui.basic.segment {
	padding: 1em 0;
}

.ui.segment>.attached.label:first-child+* {
	margin-top: 0;
}

.label {
	margin-top: 1em;
}

.sub.header a {
	color: #ccc;
	text-decoration: none;
	font-weight: normal;
}

.header a:hover {
	border-bottom: 1px solid #6ECFF5;
}

.ui.floated.image, .ui.floated.images {
	margin: 0;
}

ui.small.labels .label, .ui.small.label {
	font-size: .7rem;
}

#cp-title {
	margin: 0;
}

#radio-top {
	padding: 0;
}

#radio-top h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#title-info {
	padding: 1em 0 0 1em;
}

#cp-cover {
	width: 300px;
	height: 140px;
	overflow:hidden;
	float: right;
	background: #FAF9FA;
	border-left: 1px solid #EBEBEB;
	vertical-align:middle;
}

#cp-cover img {
	top: -20%;
}

#radio-full {
	min-width: 900px;
}

#cp-cats i {
	margin-top: 0.5em;
	float: left;
}

#cp-cats-c {
	margin-left: 1.2em;
}

#load-submit {
	margin-top: 1em;
}

.ui.selection.dropdown {
	vertical-align: middle;
}

.use-label {
	color: rgba(0, 0, 0, 0.8);
}

.use a {
	color: rgba(0, 43, 184, 0.8);
}

.no-animate {
	-webkit-transition: none !important;
 	-moz-transition: none !important;
 	-ms-transition: none !important;
 	-o-transition: none !important;
 	transition: none !important;
}

#progress-bar-container:hover {
	cursor: hand; <!-- TODO: only if playing? -->
}

#cp-more ul {
	list-style-type: none;
}
