body {
	font-family: sans-serif;
	margin: 1em 4em;
	<!-- background: #CfCfCf; -->
}
h1 {
	margin: 1em 0;
}

h2 a {
	text-decoration: none;
	color: #000;
}
audio {
	display: none;
}

.bar, .progress {
	height: 0.5em !important;
}

.item:hover {
	cursor: hand;
}

.label {
	color: #fff;
	text-decoration: none;
}

.ui.label.cat {
	margin-top: 5px;
}

.ui.basic.segment {
	padding: 1em 0;
}

.label {
	margin-top: 1em;
}

.sub.header a {
	color: #ccc;
	text-decoration: none;
	font-weight: normal;
}
.header a:hover {
	border-bottom: 1px solid #6ECFF5;
}
.ui.floated.image, .ui.floated.images {
	margin: 0;
}

#cp-title {
	margin: 0;
}

#radio-top {
	padding: 0;
}

#radio-top h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#title-info {
	padding: 1em 0 0 1em;
}

#cp-cover {
	width: 300px;
	height: 140px;
	overflow:hidden;
	float: right;
	background: #FAF9FA;
	border-left: 1px solid #EBEBEB;
	vertical-align:middle;
}

#cp-cover img {
	top: -20%;
}

#radio-full {
	min-width: 900px;
}

#cp-cats i {
	margin-top: 0.5em;
	float: left;
}

#cp-cats-c {
	margin-left: 1.2em;
}
.no-animate {
	-webkit-transition: none !important;
 	-moz-transition: none !important;
 	-ms-transition: none !important;
 	-o-transition: none !important;
 	transition: none !important;
}

#progress-bar-container:hover {
	cursor: hand; <!-- TODO: only if playing? -->
}

#cp-more ul {
	list-style-type: none;
}
